.voltar-politica{
    padding: 30px;
}

.voltar-politica a{
     color: #007a6d;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}
.voltar-politica a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);   /* animação via transform evita reflow */
  transform-origin: left;
  transition: transform 0.35s ease;
}
.voltar-politica a:hover::after{
  transform: scaleX(1);
}
